<div class="page">
  <div class="title-container">
    <h1 class="title">VideoWarehouse</h1>
  </div>

  <h2 class="menu-title">Új ügyfél regisztrálása</h2>
  
  <div class="main-menu-island">
    <table class="search-table">
      <tbody>
        <tr>
          <td>Név:</td>
          <td><input type="text" [(ngModel)]="nev" name="nev" required /></td>
        </tr>
        <tr>
          <td>Telefonszám:</td>
          <td><input type="text" [(ngModel)]="telefonszam" name="telefonszam" required /></td>
        </tr>
        <tr>
          <td>Személyiszám:</td>
          <td><input type="text" [(ngModel)]="szemelyiszam" name="szemelyiszam" required /></td>
        </tr>
        <tr>
          <td>Lakcím:</td>
          <td><input type="text" [(ngModel)]="lakcim" name="lakcim" required /></td>
        </tr>
      </tbody>
    </table>
    <button type="button" class="action-button" (click)="createCustomer()">Létrehozás</button>
    

    <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
    <div *ngIf="successMessage" class="success-message">{{ successMessage }}</div>
  </div>

  <button type="button" class="back-button" (click)="openMainMenu()">Vissza a főmenübe</button>
</div>
