<div class="page">
    <div class="title-container">
      <h1 class="title">VideoWarehouse</h1>
    </div>
  
    <h2 class="customer-title">Média: {{ media.cim }}</h2>
  
    <div class="main-menu-island">
      
      <table class="customer-table">
        <thead>
          <tr>
            <th>Adattípus</th>
            <th>Érték</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>Sorszám</th>
            <td>{{ media.sorszam }}</td>
          </tr>
          <tr>
            <th>Cím</th>
            <td>{{ media.cim }}</td>
          </tr>
          <tr>
            <th>Beszerzés dátuma</th>
            <td>{{ media.beszerzes_datuma }}</td>
          </tr>
          <tr>
            <th>Típus</th>
            <td>{{ media.tipus }}</td>
          </tr>
          <tr>
            <th>Státusz</th>
            <td>{{ media.statusz }}</td>
          </tr>
        </tbody>
      </table>
  
      
    </div>
    <div class="button-container">
      <button class="bottom-button" (click)="openBackMenu()">Vissza a listához</button>
      <button class="action-button" (click)="deleteBorrowing()">Média felszabadítása</button>
    </div>
    <div *ngIf="successMessage" class="success-message">
      <p>{{ successMessage }}</p>
    </div>
    <div *ngIf="errorMessage" class="error-message">
      <p>{{ errorMessage }}</p>
    </div>
  </div>




  
