<div class="page">
  <div class="title-container">
    <h1 class="title">VideoWarehouse</h1>
  </div>

  <h2>Ügyfél Keresés</h2>

  <div class="main-menu-island">
    <table class="search-table">
      <tbody>
        <tr>
          <td>Azonosító</td>
          <td><input type="number" [(ngModel)]="azonosito" /></td>
        </tr>
        <tr>
          <td>Személyiszám</td>
          <td><input type="text" [(ngModel)]="szemelyiszam" /></td>
        </tr>
        <tr>
          <td>Név</td>
          <td><input type="text" [(ngModel)]="nev" /></td>
        </tr>
      </tbody>
    </table>

    <button class="action-button" (click)="findCustomer()">Keresés</button>

    <div *ngIf="errorMessage" class="error-message">
      {{ errorMessage }}
    </div>
      

    
  </div>

  <table class="customer-table">
    <thead>
      @if (isTableShowing) {
      <tr>
        <th>Azonosító</th>
        <th>Név</th>
        <th>Telefonszám</th>
        <th>Személyiszám</th>
        <th>Lakcím</th>
        <th>Státusz</th>
        <th>Adatlap</th>
      </tr>}
      
    </thead>
    <tbody>
      @for(customer of customers; track customer.azonosito) {
      <tr>
        <td>{{ customer.azonosito }}</td>
        <td>{{ customer.nev }}</td>
        <td>{{ customer.telefonszam }}</td>
        <td>{{ customer.szemelyiszam }}</td>
        <td>{{ customer.lakcim }}</td>
        <td>{{ customer.statusz }}</td>
        <td>
          <button (click)="openCustomerProfile(customer.azonosito)">Adatlap</button>
        </td>
      </tr>
    }
    </tbody>
  </table>
  <button class="back-button" (click)="openMainMenu()">Vissza a főmenübe</button>
</div>
