<div class="container">
    <h2>Új média hozzáadása</h2>
  
    <div *ngIf="errorMessage" class="error">{{ errorMessage }}</div>
    <div *ngIf="successMessage" class="success">{{ successMessage }}</div>
  
    <form (ngSubmit)="createMedia()">
      <label>Cím:</label>
      <input type="text" [(ngModel)]="cim" name="cim" required>
  
      <label>Típus:</label>
      <select [(ngModel)]="tipus" name="tipus" required>
        <option value="" disabled selected>Válassz típust</option>
        <option value="kazetta">Kazetta</option>
        <option value="DVD">DVD</option>
      </select>
  
      <label>Beszerzés dátuma:</label>
      <input type="date" [(ngModel)]="beszerzes_datuma" name="beszerzes_datuma" required>
  
      <button type="submit" >Létrehozás</button>
      <button type="button" (click)="openMainMenu()">Vissza a főmenübe</button>
    </form>
  </div>
  