<div class="page">
    <div class="title-container">
      <h1 class="title">VideoWarehouse</h1>
    </div>
  
    <h2 class="menu-title">Ügyfél kölcsönzéseinek Listája: {{ nev }}</h2>
  
    <div class="main-menu-island">
            <table class="customer-table" *ngIf="borrowings.length > 0">
                <thead>
                  <tr>
                    <th>Id</th>
                    <th>Cím </th>
                    <th>Ügyfél név</th>
                    <th>Kölcsönzés dátuma</th>
                    <th>Visszahozás dátuma</th>
                  </tr>
                </thead>
                <tbody>
                  @for(borrowing of borrowings; track borrowing.id) {
                  <tr>
                    <td>{{ borrowing.id }}</td>
                    <td>{{ borrowing.media.cim }}</td>
                    <td>{{ borrowing.customer.nev }}</td>
                    <td>{{ borrowing.kolcsonzes_datuma | date: 'yyyy-MM-dd' }}</td>
                    <td>{{ borrowing.visszahozas_datuma| date: 'yyyy-MM-dd' }}</td>
                  </tr>
                }
                </tbody>
              </table>
        

        <!-- Ha nincs kölcsönzés, mondjuk ki -->
    <div *ngIf="borrowings.length === 0 && !errorMessage">
        <p class="no-customer-message">Nincs kölcsönzése az ügyfélnek.</p>
    </div>
     

    </div>
      
    <button class="back-button" (click)="openBackMenu(azonosito)">Vissza a listához</button>
  </div>
  