<div class="page">
    <div class="title-container">
      <h1 class="title">VideoWarehouse</h1>
    </div>

    <div class="main-menu-island">
      <div class="menu-column">
        <h3>Ügyfelek</h3>
        <button class="menu-button" (click)="openAllCustomer()">Összes ügyfél lekérdezése</button>
        <button class="menu-button" (click)="openFindCustomer()">Ügyfél keresése</button>
        <!-- <button class="menu-button" (click)="openModifyCustomer()">Ügyfél módosítása</button> -->
      <!--   <button class="menu-button" (click)="openDeleteCustomer()">Ügyfél törlése</button> -->
        <button class="menu-button">Ügyfél regisztrálása</button>
      </div>
  
      <div class="menu-column">
        <h3>Kazetták, dvdk</h3>
        <button class="menu-button">Kazetták, dvdk lekérdezése</button>
        <button class="menu-button">kikölcsönzöttek lekérdezése idő megadásával</button>      <!-- lehet átkéne nevezni -->
      </div>
  

      <div class="menu-column">
        <h3>Kölcsönzés</h3>
        <button class="menu-button">Kölcsönzés rögzítése</button>
        <button class="menu-button">Kölcsönzés felszabadítása</button>
        <button class="menu-button" (click)="openTest()" >TESZT</button>
      </div>
    </div>
  </div>
  